@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 100% 95%;
    --foreground: 0 5% 0%;
    --card: 0 50% 90%;
    --card-foreground: 0 5% 10%;
    --popover: 0 100% 95%;
    --popover-foreground: 0 100% 0%;
    --primary: 0 84.2% 44.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 30% 85%;
    --muted-foreground: 0 5% 35%;
    --accent: -38 30% 80%;
    --accent-foreground: 0 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 30% 50%;
    --input: 0 30% 18%;
    --ring: 0 84.2% 44.7%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 50% 5%;
    --foreground: 0 5% 90%;
    --card: 0 50% 0%;
    --card-foreground: 0 5% 90%;
    --popover: 0 50% 5%;
    --popover-foreground: 0 5% 90%;
    --primary: 0 84.2% 44.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 30% 15%;
    --muted-foreground: 0 5% 60%;
    --accent: -38 30% 15%;
    --accent-foreground: 0 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 30% 18%;
    --input: 0 30% 18%;
    --ring: 0 84.2% 44.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .form-btn {
    @apply bg-primary text-primary-foreground hover:bg-primary/90 inline-flex min-h-14 w-full items-center justify-center rounded-md px-6 py-2 font-bold text-base !important;
  }
  .form-input {
    @apply w-full min-h-14 border-none text-base font-bold placeholder:font-normal bg-background border border-input;
  }
}

@layer utilities {
  /* Gradients */
  .gradient-vertical {
    background: linear-gradient(180deg, #232323 0%, #232323 100%);
  }
  /* Auth */
  .auth-container {
    @apply relative flex flex-col-reverse sm:flex-row;
  }

  .auth-form {
    @apply my-auto flex h-full min-h-screen flex-1 items-center px-5 py-10 bg-primary;
  }

  .auth-box {
    @apply bg-card mx-auto flex max-w-xl flex-col gap-6 rounded-lg p-10;
  }
  .auth-image {
    @apply sticky h-40 w-full sm:top-0 sm:h-screen sm:flex-1;
  }
}
